[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-graphql-client = "*"
autopep8 = "*"
pylint = "*"
flake8 = "*"
mypy = "*"
requests = "*"
install = "*"
influxdb-client = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
